@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;600&display=swap');

$text-color: #fff;
$mapper-text-color: #67C271;
$font-size: 3.5rem;
$edge-spacing: 1rem;
$outline-size: .75px;
$outline-color: darken(#30466E, 10%);
$cover-size: 10rem;
$image-spacing: $cover-size * 0.2;
$transition-delay: .05s;
$special-font: 'Teko', sans-serif;

@mixin special-font {
  font-family: $special-font;
  font-style: italic;
}

$z-index-map: (
        "bouncy": 1,
        "credits": 1,
        "heart-rate": 2,
        "beat-saber": 3,
);

@import "scss/mixins";

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  @include special-font;
  background-color: #000;
  user-select: none;
  @include outline;
}

#song-name, #song-author, #song-details, #connection {
  line-height: 1em;
}

#beat-saber {
  color: $text-color;
  font-size: $font-size;
  text-align: right;
  position: absolute;
  top: $edge-spacing;
  right: $edge-spacing * 1.5;
  z-index: map-get($z-index-map, 'beat-saber');
}

@import "scss/analog-clock";
@import "scss/chat";
@import "scss/credits";
@import "scss/data-layout";
@import "scss/dialog";
@import "scss/connection";
@import "scss/heart-rate";
