@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;600&display=swap');

$text-color: #fff;
$mapper-text-color: #67C271;
$font-size: 3.5rem;
$edge-spacing: 1rem;
$outline-size: .25rem;
$outline-color: #30466E;
$cover-size: 10rem;
$image-spacing: $cover-size * 0.2;
$transition-delay: .05s;

@mixin outline {
  // outline: $outline-size solid $outline-color;

  filter: drop-shadow(0 0 $outline-size $outline-color);
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: 'Teko', sans-serif;
  font-style: italic;
}

#song-name, #song-author, #song-details, #connection {
  line-height: 1em;
}

#credits {
  position: absolute;
  opacity: 0.2;
  will-change: opacity;
  transition: .1s opacity;
  @include outline;
  top: 0;
  left: 0;
  z-index: -1;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: $edge-spacing;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;

  &:hover {
    opacity: 1;
  }

  span {
    display: block;
  }

  img {
    width: 13rem;
  }
}

#app {
  color: $text-color;
  font-size: $font-size;
  text-align: right;
  position: absolute;
  top: $edge-spacing;
  right: $edge-spacing * 1.5;
  @include outline;
}


@import "scss/data-layout";
@import "scss/connection";
@import "scss/heart-rate";
