#connection-loading {
  @include loading-element($cover-size * .65);
  margin-left: $image-spacing;
}

#connection {
  transition-delay: $transition-delay * 1;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  font-size: $font-size;

  > * {
    display: block;
  }

  .status {
    font-size: $font-size * .5;
  }
}
