
#heart-rate {
  $height: 3rem;

  position: absolute;
  bottom: 0;
  left: 0;
  margin: $edge-spacing;
  height: $height;
  display: flex;
  flex-flow: row nowrap;

  .heart, .rate-number {
    display: block;
    font-size: 0;
  }

  .heart {
    height: $height;
    width: $height;
    transform: scale(1.15);
    background: url(img/heart.svg) no-repeat center;
    background-size: contain;
    margin-right: 0.5em;
  }

  .rate-number {
    $spacing: -0.25em;
    font-size: $height;
    height: 1em;
    width: 1em;
    background-image: url(img/humbers.svg);
    background-repeat: no-repeat;
    background-size: 10em 1em;
    background-position: 0 0;
    margin-right: $spacing;

    &[data-value="1"] {
      margin-right: $spacing * 2;
    }
  }
}
